<!-- Tabs de Previsão do Tempo /tabs -->

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Hoje" id="tab-hoje">
    <section ng-include="'app/views/tabs/hoje.html'" class="tab-content"></section>
  </md-tab>
  <md-tab label="Amanhã" id="tab-amanha">
    <section ng-include="'app/views/tabs/amanha.html'" class="tab-content"></section>
  </md-tab>
  <md-tab label="Próximos" id="tab-proximos">
    <section ng-include="'app/views/tabs/proximos.html'" class="tab-content"></section>
  </md-tab>
</md-tabs>
