<!-- start day-content-details -->
<md-content class="day-content-details container">
  <div layout="row" layout-xs="column">
    <!-- start content-detail-left -->
    <div flex class="content-detail-left">
      <div class="content-datail-header" layout="row">
        <div flex>
          <h3 class="md-subhead" ng-bind="(weather.currently.time * 1000) | formatDateToExtenso : true"></h3>
          <p class="summary" ng-bind="weather.currently.summary"></p>
        </div>
      </div>
      <div class="content-datail-subheader" layout="row">
        <div flex>
          <h1 class="md-display-4">
            <span ng-bind="weather.currently.temperature | formatTemperature : selectedMedida"></span>
          </h1>
          <i class="wi wi-forecast-io-{{ weather.currently.icon }} wi-dark-sky-{{ weather.currently.icon }}"></i>
        </div>
      </div>
    </div>
    <!-- end content-detail-left -->
    <!-- start content-detail-right -->
    <div flex class="content-detail-right">
      <div class="item-detail-body">
        <div>
          <i class="wi wi-thermometer"></i> Temperatura
        </div>
        <div>
          <i class="wi wi-direction-up"></i>
          <span ng-bind="weather.daily[0].temperatureMax | formatTemperature : selectedMedida"></span>

          <i class="wi wi-direction-down"></i>
          <span ng-bind="weather.daily[0].temperatureMin | formatTemperature : selectedMedida"></span>
        </div>
        <br clear="both" />
      </div>
      <div class="item-detail-body">
        <div>
          <i class="wi wi-day-sunny"></i> Sol
        </div>
        <div>
          <i class="wi wi-direction-up"></i>
          <span ng-bind="(weather.daily[0].sunriseTime * 1000) | date : 'HH:mm'"></span>

          <i class="wi wi-direction-down"></i>
          <span ng-bind="(weather.daily[0].sunsetTime * 1000) | date : 'HH:mm'"></span>
        </div>
        <br clear="both" />
      </div>
      <div class="item-detail-body">
        <div>
          <i class="wi wi-humidity"></i> Humidade
        </div>
        <div>
          <span ng-bind="weather.currently.humidity * 100"></span>%
        </div>
        <br clear="both" />
      </div>
      <div class="item-detail-body">
        <div>
          <i class="wi wi-strong-wind"></i> Vento
        </div>
        <div>
          <span ng-bind="weather.currently.windSpeed"></span> km/h
        </div>
        <br clear="both" />
      </div>
    </div>
    <!-- end content-detail-right -->
  </div>
</md-content>
<!-- end day-content-details -->
<!-- start day-content-hourly -->
<md-content class="day-content-hourly container">
  <div layout="row">
    <div class="item-hourly" ng-repeat="hora in weather.hourly | hoursByDate : weather.currently.time">
      <div>
        <span ng-bind="hora.time * 1000 | date : 'HH'"></span>h
      </div>
      <div>
        <i class="wi wi-forecast-io-{{ hora.icon }} wi-dark-sky-{{ hora.icon }}"></i>
      </div>
      <div>
        <span ng-bind="hora.temperature | formatTemperature : selectedMedida"></span>
      </div>
    </div>
  </div>
</md-content>
<!-- end day-content-hourly -->
